<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
</head>
<body>
<header th:insert="~{fragments/general.html :: header}"></header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mt-3"><span th:text="#{messages.account.welcomeBack}"></span><span class="text-primary" th:if="${user.firstName != null}" th:text="' ' + ${user.firstName}"></span></h1>
        </div>
    </div>
</div>
<div th:if="${user.verified}" class="d-flex flex-md-row flex-column align-items-start mx-3 mx-md-5 my-3">
    <div class="nav flex-row flex-md-column nav-pills mx-auto mx-md-0 me-md-3 my-3 gap-1 bg-light" id="v-pills-tab" role="tablist"
         aria-orientation="vertical" style="border-radius: 5px">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                type="button" role="tab" aria-controls="v-pills-home" aria-selected="true" th:text="#{messages.account.home}">
        </button>
        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" th:text="#{messages.account.account}">
        </button>
        <button class="nav-link" id="v-pills-invoices-tab" data-bs-toggle="pill" data-bs-target="#v-pills-invoices"
                type="button" role="tab" aria-controls="v-pills-payment" aria-selected="false" th:text="#{messages.account.invoices}">
        </button>
        <button class="nav-link" id="v-pills-waiting-tab" data-bs-toggle="pill" data-bs-target="#v-pills-waiting"
                type="button" role="tab" aria-controls="v-pills-waiting" aria-selected="false" th:text="#{messages.account.waiting}">
        </button>
    </div>
    <div class="tab-content mx-auto my-3" id="v-pills-tabContent">
        <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div th:if="${!user.services.isEmpty()}">
                <h2 th:text="#{messages.account.yourServices}"></h2>
                <table class="table text-center mw-100">
                    <thead class="table-primary">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Domain</th>
                        <th scope="col">TLD</th>
                        <th scope="col" th:text="#{messages.account.expiryDate}"></th>
                        <th scope="col" th:text="#{messages.account.active}"></th>
                        <th scope="col">Extras</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" service : ${user.getGroupServices()}" th:classappend="${service.key.isCancelled} ? 'bg-info' : 'bg-white'">
                        <th scope="row" th:text="${service.key.id}"></th>
                        <td th:text="${service.key.nameDomain}"></td>
                        <td th:text="${service.key.product}"></td>
                        <td th:text="${service.key.dateExpired}" class="date"></td>
                        <td th:if="${service.key.isCancelled}" th:text="#{messages.account.no}"></td>
                        <td th:if="${!service.key.isCancelled}" th:text="#{messages.account.yes}"></td>
                        <td>
                            <span th:each="extra : ${service.value}" th:text="${extra.product} + ' ' + ${extra.category}"></span>
                        </td>
                        <td>
                            <a th:href="@{/account/service/{id}(id=${service.key.id})}" class="btn btn-outline-danger" th:text="#{messages.account.cancelBtn}"></a>
                        </td>
                    </tbody>
                </table>
            </div>
            <div th:if="${user.services.isEmpty()}">
                <h2 th:text="#{messages.account.noServices}"></h2>
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="container">
                <form action="/account/update" method="post" th:object="${userData}" class="form">
                    <input type="hidden" th:value="${user.idData}" name="idData">
                    <div class="row">
                        <h3 th:text="#{messages.account.personalInfo}"></h3>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="name" class="form-label" th:text="#{messages.account.firstName}"></label>
                                <input type="text" class="form-control" id="name" placeholder="Name"
                                       th:value="${user.firstName}" name="firstName" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="surname1" class="form-label" th:text="#{messages.account.lastName}"></label>
                                <input type="text" class="form-control" id="surname1" placeholder="Surname"
                                       th:value="${user.lastName1}" name="lastName1" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="surname2" class="form-label" th:text="#{messages.account.lastName2}"></label>
                                <input type="text" class="form-control" id="surname2" placeholder="Surname"
                                       th:value="${user.lastName2}" name="lastName2" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label" th:text="#{messages.account.email}"></label>
                                <input type="email" class="form-control" id="email" placeholder="Email"
                                       th:value="${user.email}" name="email" disabled>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="country" class="form-label" th:text="#{messages.account.country}"></label>
                                <select class="form-select" id="country" th:value="${user.country}" name="country"
                                        readonly>
                                    <option selected value="none" th:text="#{messages.account.chooseCountry}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label" th:text="#{messages.account.address}"></label>
                                <input type="text" class="form-control editable" id="address" placeholder="Address"
                                       th:value="${user.address}" name="address" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="city" class="form-label" th:text="#{messages.account.city}"></label>
                                <input type="text" class="form-control editable" id="city" placeholder="City"
                                       th:value="${user.city}" name="city" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="postalCode" class="form-label" th:text="#{messages.account.firstName}"></label>
                                <input type="text" class="form-control editable" id="postalCode" placeholder="Postal Code"
                                       th:value="${user.postalCode}" name="postalCode" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="my-5 d-flex justify-content-between">
                        <button class="btn btn-success edit" th:text="#{messages.account.editBtn}"></button>
                        <button class="btn btn-outline-danger cancel" th:text="#{messages.account.cancelBtn}"></button>
                        <button class="btn btn-primary save" type="submit" th:text="#{messages.account.saveBtn}"></button>
                    </div>
                </form>
                <div class="col-12" th:if="${user.password != null}">
                    <hr>
                    <h4 th:text="#{messages.account.changePassword}"></h4>
                    <form action="">
                        <div class="mb-3">
                            <label for="password" class="form-label" th:text="#{messages.account.oldPassword}"></label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label" th:text="#{messages.account.newPassword}"></label>
                            <input type="password" class="form-control" id="newPassword" placeholder="New password">
                        </div>
                        <div class="mb-3">
                            <label for="repeatNewPassword" class="form-label" th:text="#{messages.account.confirmPassword}"></label>
                            <input type="password" class="form-control" id="repeatNewPassword"
                                   placeholder="Repeat new password">
                        </div>
                        <div class="container my-2">
                            <button class="btn btn-success" th:text="#{messages.account.changePasswordBtn}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-invoices" role="tabpanel" aria-labelledby="v-pills-invoices-tab">
            <span th:text="${user.invoices}"></span>
            <div class="container">

            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-waiting" role="tabpanel" aria-labelledby="v-pills-waiting-tab">
        <div class="container">
            <div th:unless="${user.waitingDomains.isEmpty()}">
                <div th:each="waitingDomain: ${user.waitingDomains}">
                    <div th:each="tld :${waitingDomain.tlds}">
                        <div>
                            <form action="/account/delete-waiting" method="POST">
                                <input type="hidden" th:value="${waitingDomain.nameDomain}" name="domainName">
                                <input type="hidden" th:value="${tld}" name="product">
                                <span th:text="${waitingDomain.nameDomain + tld}"></span>
                                <input class="btn btn-outline-danger delete-waiting" th:id="${waitingDomain.nameDomain + tld}" th:value="#{messages.account.deleteBtn}" type="submit"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${user.waitingDomains.isEmpty()}" class="container">
                <h3 th:text="#{messages.account.noWaitingList}"></h3>
            </div>
        </div>
    </div>
    </div>
</div>
<div th:unless="${user.verified}" class="container text center my-5 text-center">
    <p class="title-1">Please verify your mail first.</p>
</div>
<footer th:insert="~{fragments/general.html :: footer}"></footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script>

    $(document).ready(function () {

        $('.cancel').hide()
        $('.save').hide()

        var inputs = document.querySelectorAll('input[readonly]');

        for (var i = 0; i < inputs.length; i++) {
            inputs[i].style.backgroundColor = '#e9ecef';
        }

        $("#repeatNewPassword").keyup(checkPasswordMatch);
        $("#newPassword").keyup(checkPasswordMatch);

        var idData = $('#name').val();
        if (idData === null || idData === '') {
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].removeAttribute('readonly');
                inputs[i].style.backgroundColor = 'white';
            }
        }

        $.ajax({
            url: 'https://restcountries.com/v3.1/all',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var countries = data;
                countries.sort(function (a, b) {
                    if (a.name.common < b.name.common) {
                        return -1;
                    }
                    if (a.name.common > b.name.common) {
                        return 1;
                    }
                    return 0;
                });
                for (var i = 0; i < countries.length; i++) {
                    $('#country').append('<option value="' + countries[i].name.common + '">' + countries[i].name.common + '</option>');
                }
            }
        })
        $('.date').each(function () {
            var date = $(this).text();
            var dateFormatted = moment(date).format('DD/MM/YYYY');
            $(this).text(dateFormatted);
        })
    })
    var inputs = document.querySelectorAll('.editable');

    var tmpvalues = []

    for (var j = 0; j < inputs.length; j++) {
        tmpvalues.push(inputs[j].value);
    }

    $('.edit').click(function (e) {
        e.preventDefault()
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].removeAttribute('readonly');
            inputs[i].style.backgroundColor = 'white';
        }
        $('.save').show();
        $('.cancel').show();
        $(this).hide();
    })

    $('.cancel').click(function (e) {
        e.preventDefault();
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].value = tmpvalues[i];
            inputs[i].style.backgroundColor = '#e9ecef';
        }
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].setAttribute('readonly', 'readonly');
        }
        $('.save').hide();
        $(this).hide();
        $('.edit').show();
    })

    function checkPasswordMatch() {
        let password = $("#newPassword").val();
        let confirmPassword = $("#repeatNewPassword").val();

        if (password !== confirmPassword)
            $("#repeatNewPassword").css("border-color", "red");
        else
            $("#repeatNewPassword").css("border-color", "green");
    }


</script>
</body>
</html>