<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
  <title>ISP Hero - Login</title>
</head>
<body>
<header th:insert="~{fragments/loginandregister.html :: header}"></header>
<main>
  <div th:insert="~{fragments/loginandregister.html :: background}"></div>
  <div class="p-md-5 p-0" style="min-height: 75vh">
    <form action="/login" method="post" th:object="${user}" class="login">
      <div class="login-form-title">
        <h1>Login</h1>
      </div>
      <div>
        <input type="text" th:field="*{username}" id="username" placeholder="Username">
      </div>
      <div class="d-flex">
        <input type="password" th:field="*{password}" id="password" placeholder="Password">
        <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; margin-top: 14px; cursor: pointer;"></i>
      </div>
      <div>
        <p th:unless="${case} == null" th:text="${case}" class="alert alert-danger text-center my-2 mx-auto"></p>
      </div>
      <div class="login-form-buttons my-3">
        <button class="login-form-button login-button btn-format" type="submit" style="vertical-align:middle"><span>Login</span></button>
        <form action="/register" method="get" class="login">
          <input type="reset" value="Register" class="register-form-button register btn-format">
        </form>
        <hr>
        <div class="login-form-buttons d-flex justify-content-center gap-2 mb-4">
          <a href="#" class="btn login-button btn-google btn-format btn-block">
            <i class="fab fa-google fa-fw"></i> Login with Google
          </a>
          <a href="/login" class="btn login-button btn-facebook btn-format btn-block">
            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
          </a>
        </div>
        <div class="forgot-pw">
          <a href="/password-recovery" class="forgot-pw">Forgot your password?</a>
        </div>
      </div>
    </form>
  </div>
<footer th:insert="~{fragments/general.html :: footer}"></footer>
</main>

<script async defer src="https://accounts.google.com/gsi/client"></script>
<script>

  // Google OAuth
  document.querySelector('.btn-google').addEventListener('click', function () {
    google.accounts.id.initialize({
      client_id: '578391080478-tld06kdi3jv6guggqbuj5vrua8cq15vh.apps.googleusercontent.com',
      callback: async (responseGoogle) => {

        console.log(responseGoogle);

        const tokenGoogle = responseGoogle.credential;

        const responseFetch = await fetch('https://isphero.com/auth/login/google', {
          method: 'POST',
          body: tokenGoogle,
        })
        const token = await responseFetch.text();
        console.log(token);
        localStorage.setItem('token', `Bearer ${token}`);
        window.location.href = '/token/' + token;
      }
    });
    google.accounts.id.prompt();
  });



  document.querySelector(".register").addEventListener("click", function (e) {
    e.preventDefault();
    window.location.href = "/register";
  });

  const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#password');
  togglePassword.addEventListener('click', function (e) {
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    this.classList.toggle('fa-eye-slash');
  });

    /*$(document).ready(function() {
        $('.login-form-button').click(function() {
        let username = $('#username').val();
        let password = $('#password').val();
        if (username === '' || password === '') {
            alert("Please fill all fields");
        } else {
            $.post("/login", {
            username: username,
            password: password
            }, function(data) {
            if (data === 'Invalid Username or Password') {
                alert(data);
            } else if (data === 'Successfully Logged in') {
                $("form")[0].reset();
            }
            });
        }
        });
    });*/
</script>
</body>
</html>