<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
</head>
<body>
<main>
  <div th:insert="~{fragments/general.html :: header}"></div>

  <div>
    <div class="alert alert-success text-center my-5" role="alert">
      <h4 class="alert-heading" th:text="${langPage.messages.messagesent}"></h4>
      <p th:text="${langPage.messages.messagethanks}"></p>
      <p><span th:text="${langPage.messages.messageredirect + ' '}"></span><span class="fw-bolder" id="seconds">5</span> <span th:text="${' ' + langPage.messages.messageseconds}"></span></p>
    </div>
  </div>
</main>
<script>
    let seconds = 5;
    function countdown() {
        seconds = seconds - 1;
        if (seconds < 0) {
        window.location = "/";
        } else {
        document.getElementById("seconds").innerHTML = seconds;
        window.setTimeout("countdown()", 1000);
        }
    }
    countdown();
</script>
</body>
</html>