<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
</head>
<body>
<main>
  <div th:insert="~{fragments/general.html :: header}"></div>

  <div class="container pb-3">
      <form action="/password-recovery" method="post" class="login" style="margin-top: 50px;">
          <div class="login-form-title">
              <h1>Reset password</h1>
          </div>
          <div class="login-form-inputs">
                <div class="form-group">
                    <input type="text" class="form-control" id="email" name="email" placeholder="E-Mail">
                    <p class="text-muted"><small>We will send you an email which can be only used once.</small></p>
                </div>
          </div>
          <div>
              <p th:unless="${case} == null" th:text="${case}" class="alert alert-danger text-center my-2 mx-auto"></p>
          </div>
          <div class="login-form-buttons my-3">
              <button type="submit" class="btn btn-primary">Reset</button>
          </div>
      </form>

  </div>
</main>
<footer th:insert="~{fragments/general.html :: footer}"></footer>
<script>
    function validateEmail(email) {
        let re = /\S+@\S+\.\S+/;
        console.log(re.test(email));
        return re.test(email);
    }
</script>
</body>
</html>