<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}"></head>
<body>
<header th:insert="~{fragments/general.html :: header}"></header>
    <div class="cart">
        <div th:each="article: ${cartUser.articles}" class="d-flex gap-lg-5">
            <div> <span th:text="${article.product}">DOMAIN</span> </div>
            <div> <span th:text="${article.property.price1year}">PRICE1YEAR</span> </div>
            <form action="/cart/remove" method="post">
                <input type="hidden" th:value="${article.product}" name="product">
                <input type="submit" value="remove">
            </form>
        </div>
    </div>





<footer th:insert="~{fragments/general.html :: footer}"></footer>
</body>
</html>