<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
</head>
<body>
<!--<header th:insert="~{fragments/general.html :: header}"></header>-->

<!--<header th:insert="~{fragments/simplified.html :: header}"></header>-->
<main>
    <div th:insert="~{fragments/simplified.html :: header}"></div>
    <div class="bubbles blur">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>

    <div class="container py-5 px-0 px-md5">
        <div class="row my-5">
            <div class="col-md-12" th:if='${status} == null'>
                <form action="/register" th:object="${user}" method="post" class="login">
                    <div class="login-form-title">
                        <h1>Register</h1>
                    </div>
                    <div>
                        <div class="d-flex flex-column gap-3">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" id="username" th:field="*{username}">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" th:field="*{password}">
                            </div>
                            <div class="form-group">
                                <label for="password2">Repeat Password</label>
                                <input type="password" id="password2"  th:field="*{password2}">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" th:field="*{email}">
                            </div>
                        </div>
                        <div>
                            <p th:text="${error}" class="text-danger text-center my-2 mx-auto"></p>
                        </div>
                    </div>
                    <div class="login-form-buttons">
                        <input type="submit" value="Register now!" class="register-form-button btn-format">
                        <span>Already registered? <a th:href="@{/login}">Login here</a></span>
                    </div>
                </form>
            </div>
            <div class="col-md-12 my-5" th:if='${status == "true"}'>
                <h1 class="text-center">You have been registered!</h1>
                <p class="text-center">We have sent you an email to <span class="text-primary" th:text="${user.getEmail()}"></span> to confirm your registration. Please check your inbox.</p>
                <div class="text-center my-5">
                    <a href="/static" class="btn btn-primary btn-block">Go to homepage</a>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<footer th:insert="~{fragments/general.html :: footer}"></footer>-->

<script>
    "use strict";

    function checkPasswordMatch() {
        let password = $("#password").val();
        let confirmPassword = $("#password2").val();

        if (password !== confirmPassword)
            $("#password2").css("border-color", "red");
        else
            $("#password2").css("border-color", "green");
    }

    $(document).ready(function () {
        $("#password2").keyup(checkPasswordMatch);
    });
</script>
</body>
</html>