<!DOCTYPE html>
<!--html xmlns:th="http://www.thymeleaf.org" lang="en"-->
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
</head>

<body>
<header th:insert="~{fragments/general.html :: header}"></header>

<div class="p-5 " style="--bg-position-vertical: 40%;">
    <div class="site-center">
        <div class="content-md text-center color-text-dark mb-section-lg">
            <h1 class="text-auto-2xl font-light m-0">Buscar dominios</h1>
            <h2 class="title-1 title-highlight-violet mb-section-xxs"><strong class="text-primary">Busca y compra</strong> tu dominio libre</h2>
        </div>
        <div th:insert="~{fragments/general.html :: domainSearchBar}"></div>
    </div>
    <div class="hero-bg-border mt-section-xl"></div>
</div>

<footer th:insert="~{fragments/general.html :: footer}"></footer>
</body>
</html>