<!DOCTYPE html>
<!--html xmlns:th="http://www.thymeleaf.org" lang="en"-->
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
</head>

<body>
<header th:insert="~{fragments/general.html :: header}"></header>

<div class="p-5 col-md-12" style="--bg-position-vertical: 40%;">
    <div class="site-center">
        <div class="content-md text-center color-text-dark mb-section-lg">
            <h1 class="font-light m-0" th:text="${langPage.messages.mainfindDomain}">Buscar dominios</h1>
            <h2 class="title-1"><strong class="text-primary" th:text="${langPage.messages.mainsearchAndBuy}">Busca y compra</strong><span th:text="${' ' + langPage.messages.mainfreeDomain}">tu dominio libre</span></h2>
        </div>
        <div th:insert="~{fragments/general.html :: domainSearchBar}"></div>
    </div>
    <div class="hero-bg-border mt-section-xl"></div>
</div>
<div class="container">
    <div class="card-deck d-flex my-3 gap-5 justify-content-center justify-content-sm-evenly flex-column flex-md-row col-12">
        <div class="card p-3">
            <img class="card-img-top tld-img" th:src="${ urlCdn + '/com-tld.png'}" alt="com TLD">
            <div class="card-body m-3">
                <h3 class="card-title"><b>.com</b></h3>
                <p class="card-text" th:text="${langPage.messages.domaintld4}"></p>
            </div>
        </div>
        <div class="card p-3">
            <img class="card-img-top tld-img" th:src="${urlCdn + '/org-tld.png'}" alt="org TLD">
            <div class="card-body m-3">
                <h3 class="card-title"><b>.org</b></h3>
                <p class="card-text" th:text="${langPage.messages.domaintld5}"></p>
            </div>
        </div>
        <div class="card p-3">
            <img class="card-img-top tld-img" th:src="${urlCdn + '/info-tld.png'}" alt="info TLD">
            <div class="card-body m-3">
                <h3 class="card-title"><b>.info</b></h3>
                <p class="card-text" th:text="${langPage.messages.domaintld6}"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">

    </div>
</div>
<div class="container">
    <div class="row my-5">
        <div class="col-md-6">
            <h3 th:text="${langPage.messages.infotechnical}"></h3>
            <p th:text="${langPage.messages.infotext1}"></p>
            <p><a href="#" th:text="${langPage.messages.infolearn}"></a></p>
        </div>
        <div class="col-md-6 text-center">
            <img th:src="${urlCdn + '/server.svg'}" alt="Server" class="info-img">
        </div>
    </div>
    <hr>
    <div class="row my-5 second-row">
        <div class="col-md-6 text-center">
            <img th:src="${urlCdn + '/control-panel.svg'}" alt="cPanel" class="info-img">
        </div>
        <div class="col-md-6">
            <h3 th:text="${langPage.messages.infocp}"></h3>
            <p th:text="${langPage.messages.infotext2}"></p>
        </div>
    </div>
    <hr>
    <div class="row my-5">
        <div class="col-md-6">
            <h3 th:text="${langPage.messages.infosupport}">Support</h3>
            <p th:text="${langPage.messages.infotext3}"></p>
            <p><a href="/contact" th:text="${langPage.messages.aboutcontactUs}"></a></p>
        </div>
        <div class="col-md-6 text-center">
            <img th:src="${urlCdn + '/support.svg'}" alt="Support" class="info-img">
        </div>
    </div>

</div>

<footer th:insert="~{fragments/general.html :: footer}"></footer>

<script>

    const card = $('.card');
    card.tilt({
        transition: true,
        speed: 800,
        glare: true,
        maxGlare: .3,
        easing: "cubic-bezier(.03,.98,.52,.99)",
    })

    if ($(window).width() < 768) {
        card.tilt.destroy.call(card);
    }
</script>
</body>
</html>