<!DOCTYPE html>
<!--html xmlns:th="http://www.thymeleaf.org" lang="en"-->
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
</head>

<body>
<header th:insert="~{fragments/general.html :: header}"></header>

<div class="p-5 col-md-12" style="--bg-position-vertical: 40%;">
    <div class="site-center">
        <div class="content-md text-center color-text-dark mb-section-lg">
            <h1 class="font-light m-0" th:text="#{messages.main.findDomain}">Buscar dominios</h1>
            <h2 class="title-1"><strong class="text-primary" th:text="#{messages.main.searchAndBuy}">Busca y compra</strong><span th:text="#{messages.main.freeDomain}">tu dominio libre</span></h2>
        </div>
        <div th:insert="~{fragments/general.html :: domainSearchBar}"></div>
    </div>
    <div class="hero-bg-border mt-section-xl"></div>
</div>
<div class="container">
    <div class="col-md-12">
        
    </div>
</div>

<footer th:insert="~{fragments/general.html :: footer}"></footer>
</body>
</html>