<!DOCTYPE html>
<!--html xmlns:th="http://www.thymeleaf.org" lang="en"-->
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
</head>
<body>
<header th:insert="~{fragments/general.html :: header}"></header>

<div class="container my-5">
  <h2 class="text-center title-1" th:utext="${langPage.messages.mailheader}"></h2>
  <div class="card-deck d-flex gap-3 my-3 justify-content-between flex-column flex-md-row">
    <div class="card host-box">
      <div class="card-body">
        <h5 class="card-title" th:text="${langPage.messages.mailsingle}"></h5>
        <p th:text="${langPage.messages.mailsingledesc}"></p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:text="${langPage.messages.mailsingleadv1}"></li>
          <li class="list-group-item" th:text="${langPage.messages.mailsingleadv2}"></li>
          <li class="list-group-item" th:text="${langPage.messages.mailsingleadv3}"></li>
          <li class="list-group-item" th:text="${langPage.messages.mailsingleadv4}"></li>
          <li class="list-group-item"><span th:text="${articles[0].property.accounts} + ' '" class="fw-bold"></span><span th:text="${langPage.messages.mailsingleadv5}"></span></li>
        </ul>
        <div class="container text-center title-1">
          <p><span th:text="${articles[0].priceYear.get(articles[0].years[0])}" class="text-euro"></span>€ / <span th:text="${langPage.messages.productyear}"></span></p>
        </div>
        <div class="text-center">
          <div th:replace="~{fragments/cart.html :: addcart(${articles[0]},${articles[0].years[0]},${productBuy})}"> </div>
        </div>
      </div>
    </div>
    <div class="card host-box">
      <div class="card-body">
        <h5 class="card-title" th:text="${langPage.messages.mailprof}"></h5>
        <p th:text="${langPage.messages.mailprofdesc}"></p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:text="${langPage.messages.mailprofadv1}"></li>
          <li class="list-group-item" th:text="${langPage.messages.mailprofadv2}"></li>
          <li class="list-group-item" th:text="${langPage.messages.mailprofadv3}"></li>
          <li class="list-group-item" th:text="${langPage.messages.mailprofadv4}"></li>
          <li class="list-group-item"><span th:text="${articles[1].property.accounts} + ' '" class="fw-bold"></span><span th:text="${langPage.messages.mailprofadv5}"></span></li>
        </ul>
        <div class="container text-center title-1">
          <p><span th:text="${articles[1].priceYear.get(articles[1].years[0])}" class="text-euro"></span>€ / <span th:text="${langPage.messages.productyear}"></span></p>
        </div>
        <div th:replace="~{fragments/cart.html :: addcart(${articles[1]},${articles[1].years[0]},${productBuy})}"> </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row my-5">
      <div class="col-md-6">
        <h3 th:text="${langPage.messages.infotechnical}"></h3>
        <p th:text="${langPage.messages.infotext1}"></p>
        <p><a href="#" th:text="${langPage.messages.infolearn}"></a></p>
      </div>
      <div class="col-md-6 text-center">
        <img th:src="@{/img/server.svg}" alt="Server" class="info-img">
      </div>
    </div>
    <hr>
    <div class="row my-5 second-row">
      <div class="col-md-6 text-center">
        <img th:src="@{/img/control-panel.svg}" alt="cPanel" class="info-img">
      </div>
      <div class="col-md-6">
        <h3 th:text="${langPage.messages.infocp}"></h3>
        <p th:text="${langPage.messages.infotext2}"></p>
      </div>
    </div>
    <hr>
    <div class="row my-5">
      <div class="col-md-6">
        <h3 th:text="${langPage.messages.infosupport}">Support</h3>
        <p th:text="${langPage.messages.infotext3}"></p>
        <p><a href="/contact" th:text="${langPage.messages.aboutcontactUs}"></a></p>
      </div>
      <div class="col-md-6 text-center">
        <img th:src="@{/img/support.svg}" alt="Support" class="info-img">
      </div>
    </div>

  </div>
</div>


<footer th:insert="~{fragments/general.html :: footer}"></footer>
<script>
  $(document).ready(function () {
    $('.host-box').hover(function () {
      $('.host-box').removeClass('selected');
      $(this).addClass('selected');
    });
  });
</script>
</body>
</html>