.login {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  margin-left: auto;
  margin-right: auto;
  padding: 26px 24px 46px;
  width: 100%;
  max-width: 400px;
}

.login-form {
  margin-top: 26px;
}

.login-form-title {
  color: #4171D6;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 24px;
}

.login-form-inputs {
  margin-bottom: 24px;
}


.login-form-button {
  background: #4171D6;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(120, 200, 230, 0.4);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 24px;
  width: 100%;
  margin-bottom: 20px;
}

.login-form-button:hover {
  background: #2e5bb8;
}

.register-form-button {
  background: #d65a41;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(120, 200, 230, 0.4);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 24px;
  width: 100%;
  margin-bottom: 20px;
}

.register-form-button:hover {
  background: #b54a2e;
}

.blur {
  backdrop-filter: blur(5px);
}

input {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #333;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 12px;
  width: 100%;
  margin-bottom: 10px;
}


.forgot-pw {
  font-size: 12px;
  margin-top: 10px;
}

@keyframes moveOut {
  0% {
    background-position: 0 0;
  }
  100% { background-position: 0 810px; }
}

$bubble-count: 50;
$sway-type: "sway-left-to-right", "sway-right-to-left";

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

@function sample($list) {
  @return nth($list, random(length($list)));
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(221, 65%, 55%);
    border-radius: inherit;
    animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
  }

  @for $i from 0 through $bubble-count {
    &:nth-child(#{$i}) {
      --bubble-left-offset: #{random_range(0vw, 100vw)};
      --bubble-radius: #{random_range(1vw, 10vw)};
      --bubble-float-duration: #{random_range(6s, 12s)};
      --bubble-sway-duration: #{random_range(4s, 6s)};
      --bubble-float-delay: #{random_range(0s, 4s)};
      --bubble-sway-delay: #{random_range(0s, 4s)};
      --bubble-sway-type: #{sample($sway-type)};
    }
  }
}

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

// Simplified versions
.header-simplified {
  position: absolute;
  background: transparent;
  width: 100%;
  margin: -5px auto 20px;
}