<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="emptycart">
  <div class="container-fluid  mt-100">
    <div class="row">
      <div class="col-md-12">
          <div class="col-sm-12 text-center">
            <img src="https://i.imgur.com/9ypAIHO.png" width="130" height="130" class="img-fluid mb-4 mr-3">
            <h3><strong>Your Cart is empty</strong></h3>
            <h4>Add something to make me happy :)</h4>
            <a href="/" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
          </div>
        </div>
    </div>
  </div>
</div>

<div th:fragment="addcart(article,year,productBuy)">
    <form action="/cart/add" method="post" th:object="${productBuy}">
      <input type="hidden"  th:value="${article.product}" name="product">
      <input type="hidden" th:value="${year}" name="year">
      <input type="submit" value="Add to cart" class="buy-button">
    </form>

</div>




</html>