<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header" class="header-spc">
  <nav class="navbar navbar-expand-lg blur bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img th:src="@{/img/logo.png}" alt="logo" style="width:75px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex me-auto mb-2 mb-lg-0 mx-3 justify-content-between">
          <li class="nav-item mx-4">
            <a class="nav-link" href="#">Domains</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" href="#">Mail</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" href="#">Hosting</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" href="/about" th:text="#{messages.header.about}">About</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" href="/contact" th:text="#{messages.header.about}">Contact</a>
          </li>
        </ul>
        <div class="nav-item language-picker btn btn-outline-secondary me-5" data-target="#languageModal">
          <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none" aria-hidden="true"><circle cx="10" cy="10" r="8.5" stroke="currentColor"></circle><path d="M13.5 10c0 2.432-.44 4.61-1.129 6.16-.344.777-.742 1.374-1.159 1.77-.414.394-.822.57-1.212.57s-.798-.176-1.212-.57c-.417-.396-.815-.993-1.16-1.77C6.94 14.61 6.5 12.433 6.5 10s.44-4.61 1.128-6.16c.345-.777.743-1.374 1.16-1.77.414-.394.822-.57 1.212-.57s.798.176 1.212.57c.417.396.815.993 1.16 1.77C13.06 5.39 13.5 7.567 13.5 10z" stroke="currentColor"></path><path fill="currentColor" d="M2 7h16v1H2zM2 12h16v1H2z"></path></svg>
          <span th:if="${language}" th:text="${language.name}"></span>
          <span th:unless="${language}" th:text="${languages[1].name}">English</span>
        </div>
        </div>
        <div th:if="${isLogged} == true" class="mx-3">
          <a class="btn btn-outline-primary" href="/account" th:text="#{messages.header.account}">Account</a>
          <a class="btn btn-outline-danger" href="/logout">Logout</a>
        </div>
        <div th:unless="${isLogged} == true" class="mx-3">
          <a class="btn btn-outline-primary" href="/login">Login</a>
        </div>
    </div>
  </nav>
</div>

</body>
</html>