<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
</head>
<body>
<div th:insert="~{fragments/simplified.html :: header}"></div>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">401</h1>
        <p class="fs-3"> <span class="text-danger">Oops!</span> Unauthorized</p>
        <p class="lead">
            You are unauthorized to access this page.
        </p>
        <p th:text="${error}">Error Info</p>
        <p th:text="${status}">Status</p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>

</body>
</html>