<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
</head>
<body>
<header th:insert="~{fragments/general.html :: header}"></header>

<div class="container mt-5 my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:text="#{messages.about.aboutUs}"></h2>
            <p th:text="#{messages.about.aboutUsText}"></p>
            <h3 th:text="#{messages.about.ourBusiness}"></h3>
            <p th:text="#{messages.about.ourBusinessText}"></p>
        </div>
        <div class="col-md-6">
            <h3 th:text="#{messages.about.contactUs}"></h3>
            <p th:text="#{messages.about.contactUsTextp1}"></p>
            <p th:text="#{messages.about.contactUsTextp2}"></p>
            <p th:text="#{messages.about.contactUsTextp3}"></p>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center mb-3" th:text="#{messages.about.ourTeam}"></h3>
            <div class="row justify-content-evenly">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img h-25">
                            <img src="https://cataas.com/cat/says/Alexander%20Witt?he=400" alt="ceo" class="card-img-top ceo-img">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Alexander Witt</h5>
                            <p class="card-text">CEO</p>
                            <p class="card-text" th:text="#{messages.about.founder}"></p>
                            <a href="mailto:info@isphero.com" class="btn btn-outline-primary">info@isphero.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img h-25">
                            <img src="https://cataas.com/cat/says/Nofre%20Ruiz?he=400" alt="ceo" class="card-img-top ceo-img">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Nofre Ruiz Salom</h5>
                            <p class="card-text">CEO</p>
                            <p class="card-text" th:text="#{messages.about.founder}"></p>
                            <a href="mailto:info@isphero.com" class="btn btn-outline-primary">info@isphero.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{fragments/general.html :: footer}"></footer>
</body>
</html>