<!DOCTYPE html>
<!--html xmlns:th="http://www.thymeleaf.org" lang="en"-->
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
</head>
<body>
<header th:insert="~{fragments/general.html :: header}"></header>


<div>
    <div th:each="article: ${cartUser.articles}" class="d-flex gap-lg-5">
        <div> <span th:text="${article.product}">DOMAIN</span> </div>
        <div> <span th:text="${article.properties.price1year}">PRICE1YEAR</span> </div>
    </div>
</div>

<footer th:insert="~{fragments/general.html :: footer}"></footer>
</body>
</html>