<!DOCTYPE html>
<!--html xmlns:th="http://www.thymeleaf.org" lang="en"-->
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
</head>
<body>
<header th:insert="~{fragments/general.html :: header}"></header>



<div th:each="article: ${articleSellList}" class="d-flex gap-lg-5">
    <div> <span th:text="${article.product}">DOMAIN</span> </div>
    <div> <span th:text="${domainName + article.properties.tld[1]}">DOMAIN</span> </div>
    <div> <span th:text="${article.properties.price1year[1]}">PRICE1YEAR</span> </div>
    <div> <span th:text="${article.properties.price2year[1]}">PRICE2YEAR</span> </div>
    <div>
        <form action="/cartpage" method="post">
            <input type="hidden" th:value="${article.product}" name="productBuy">
            <input type="submit" value="buy">
        </form>
    </div>
</div>


<footer th:insert="~{fragments/general.html :: footer}"></footer>
</body>
</html>