<!DOCTYPE html>
<!--html xmlns:th="http://www.thymeleaf.org" lang="en"-->
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
</head>
<body>
<header th:insert="~{fragments/general.html :: header}"></header>

<div class="container">
    <h2 class="title-1 text-center">Choose your <span class="text-primary">domain: </span></h2>
    <div th:each="article: ${articles}" class="d-flex my-3 justify-content-evenly alert alert-light align-items-center">
        <div class="mx-5"> <span class="domain-name" th:classappend="${article.property.taken}" th:text="${domainName + article.property.tld}"></span> </div>
        <div class="d-flex gap-5 align-items-center ms-auto">
            <div>
                <label for="years">
                    <select name="years" id="years" class="form-select">
                    <option th:value="${article.property.price1year}" selected>1 Year</option>
                    <option th:value="${article.property.price2year}">2 Years</option>
                    </select>
                </label>
                </div>
                <div>
                    <div class="hidden buy" th:classappend="'action-' + ${domainName + article.property.tld}">
                        <form action="/cart/add" method="post" th:object="${productBuy}">
                            <input type="hidden" th:value="${article.product}" name="product">
                            <input type="hidden" th:value="${domainName}" name="domainName">
                            <input type="submit" value="Add to cart" class="btn btn-success m-0">
                        </form>
                    </div>
                    <div class="hidden wait" th:classappend="'action-' + ${domainName + article.property.tld}">
                        <form  action="/account/waitingdomains" method="post">
                            <input type="hidden" th:value="${domainName}" name="domainName">
                            <input type="hidden" th:value="${article.product}" name="product">
                            <input th:unless="${article.property.waiting}" type="submit" value="Add to list" class="btn btn-light m-0">
                            <input th:if="${article.property.waiting}" type="submit" value="Delete from list" class="btn btn-delete m-0">
                        </form>
                    </div>
                    <div>
                        <div class="spinner-border m-0" th:classappend="'spinner-' + ${domainName + article.property.tld}" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{fragments/general.html :: footer}"></footer>

<script>

    let domains = document.getElementsByClassName("domain-name");
    // For each domain name, make a fetch request to the domain. If 200, then the domain is taken. If other status, then the domain is not taken.

    for (let i = 0; i < domains.length; i++) {
        if (domains[i].classList.contains("true")) {
            console.log("Domain " + domains[i].innerText + " is taken");
            document.getElementsByClassName("action-" + domains[i].innerText)[0].classList.remove("hidden");
            document.getElementsByClassName("spinner-" + domains[i].innerText)[0].classList.add("hidden");
            domains[i].parentElement.parentElement.classList.remove("alert-light");
            domains[i].parentElement.parentElement.classList.add("alert-danger");
            continue;
        }
        let domain = domains[i].innerText;

        fetch("http://www." + domain, {
            method: "GET",
            mode: "no-cors",
            cache: "no-cache",
            headers: {
                "Content-Type": "application/text"
                }
            })
            .then(function (res) {
                return res.text()
            })
            .then(function (html) {
                var parser = new DOMParser();
                var doc = parser.parseFromString(html, "text/html");
                return doc.querySelectorAll("html")[0].innerHTML;
            })
            .then(function (res) {
                if (res.startsWith("<head")) {
                    console.log("Domain " + domain + " is taken");
                    document.getElementsByClassName("wait action-" + domain)[0].classList.remove("hidden");
                    document.getElementsByClassName("spinner-" + domain)[0].classList.add("hidden");
                    domains[i].parentElement.parentElement.classList.remove("alert-light");
                    domains[i].parentElement.parentElement.classList.add("alert-danger");
                } else {
                    console.log("Domain " + domain + " is not taken");
                    document.getElementsByClassName("buy action-" + domain)[0].classList.remove("hidden");
                    document.getElementsByClassName("spinner-" + domain)[0].classList.add("hidden");
                    domains[i].parentElement.parentElement.classList.remove("alert-light");
                    domains[i].parentElement.parentElement.classList.add("alert-success");
                }
            })
            .catch(function (err) {
                console.log("Error but ok" + domain);
                document.getElementsByClassName("action-" + domain)[0].classList.remove("hidden");
                document.getElementsByClassName("spinner-" + domain)[0].classList.add("hidden");
                domains[i].parentElement.parentElement.classList.remove("alert-light");
                domains[i].parentElement.parentElement.classList.add("alert-success");
            });
    }
</script>
</body>
</html>