<!DOCTYPE html>
<!--html xmlns:th="http://www.thymeleaf.org" lang="en"-->
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
</head>
<body>
<header th:insert="~{fragments/general.html :: header}"></header>



<div th:each="article : ${articleSellList}" class="d-flex gap-lg-5">
    <div>
        <span th:text="${domainName + article.properties.get('tld')[1]}">DOMAIN</span>
    </div>
    <div>
        <span th:text="${article.properties.get('price1year')[1]}">PRICE1YEAR</span>
    </div>
    <div>
        <span th:text="${article.properties.get('price2year')[1]}">PRICE2YEAR</span>
    </div>
    <div>
        <!-- AQUI LINK CARRITO -->
    </div>
</div>


<footer th:insert="~{fragments/general.html :: footer}"></footer>
</body>
</html>