<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
  <title>ISP Hero - Login</title>
</head>
<body>
<header th:insert="~{fragments/general.html :: header}"></header>
<main>
  <div class="bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
  </div>
  <div class="p-5">
    <form action="/login" method="post" class="login">
      <div class="login-form-title">
        <h1>Login</h1>
      </div>
      <div>
        <input type="text" name="username" id="username" placeholder="Username">
      </div>
      <div>
        <input type="password" name="password" id="password" placeholder="Password">
      </div>
      <div class="login-form-buttons">
        <input type="submit" value="Login" class="login-form-button">
        <form action="/register" method="get" class="login">
          <input type="reset" value="Register" class="register-form-button register">
        </form>
        <div class="forgot-pw">
          <a href="#" class="forgot-pw">Forgot your password?</a>
        </div>
      </div>
    </form>
  </div>
<footer th:insert="~{fragments/general.html :: footer}"></footer>
</main>

<script>
  document.querySelector(".register").addEventListener("click", function (e) {
    e.preventDefault();
    window.location.href = "/register";
  });

    /*$(document).ready(function() {
        $('.login-form-button').click(function() {
        let username = $('#username').val();
        let password = $('#password').val();
        if (username === '' || password === '') {
            alert("Please fill all fields");
        } else {
            $.post("/login", {
            username: username,
            password: password
            }, function(data) {
            if (data === 'Invalid Username or Password') {
                alert(data);
            } else if (data === 'Successfully Logged in') {
                $("form")[0].reset();
            }
            });
        }
        });
    });*/
</script>
</body>
</html>