<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
  <title>ISP Hero - Login</title>
</head>
<body>
<header th:insert="~{fragments/loginandregister.html :: header}"></header>
<main>
  <div class="bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
  </div>
  <div class="p-5" style="min-height: 75vh">
    <form action="/login" method="post" th:object="${user}" class="login" style="margin-top: 100px;">
      <div class="login-form-title">
        <h1>Login</h1>
      </div>
      <div>
        <input type="text" th:field="*{username}" id="username" placeholder="Username">
      </div>
      <div class="d-flex">
        <input type="password" th:field="*{password}" id="password" placeholder="Password">
        <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; margin-top: 14px; cursor: pointer;"></i>
      </div>
      <div>
        <p th:text="${case}" class="text-danger text-center my-2 mx-auto"></p>
      </div>
      <div class="login-form-buttons">
        <button class="login-form-button login-button" type="submit" style="vertical-align:middle"><span>Login</span></button>
        <form action="/register" method="get" class="login">
          <input type="reset" value="Register" class="register-form-button register">
        </form>
        <div class="forgot-pw">
          <a href="#" class="forgot-pw">Forgot your password?</a>
        </div>
      </div>
    </form>
  </div>
<footer th:insert="~{fragments/general.html :: footer}"></footer>
</main>

<script>
  document.querySelector(".register").addEventListener("click", function (e) {
    e.preventDefault();
    window.location.href = "/register";
  });

    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');
    togglePassword.addEventListener('click', function (e) {
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
      this.classList.toggle('fa-eye-slash');
    });

    /*$(document).ready(function() {
        $('.login-form-button').click(function() {
        let username = $('#username').val();
        let password = $('#password').val();
        if (username === '' || password === '') {
            alert("Please fill all fields");
        } else {
            $.post("/login", {
            username: username,
            password: password
            }, function(data) {
            if (data === 'Invalid Username or Password') {
                alert(data);
            } else if (data === 'Successfully Logged in') {
                $("form")[0].reset();
            }
            });
        }
        });
    });*/
</script>
</body>
</html>