<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/general.html :: headerfiles}">
  <title>ISP Hero - Contact</title>
</head>
<body>
<header th:insert="~{fragments/general.html :: header}"></header>

<div class="col-12 col-md-9 mx-auto mt-5 mb-5">
  <div class="d-flex flex-column flex-md-row gap-5 justify-content-evenly">
    <div class="col-md-6 m-2">
      <h2 th:text="${langPage.messages.aboutcontactUs}"></h2>
      <p th:text="${langPage.messages.contacttext}"></p>
      <form action="/message" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <label for="message" th:text="${langPage.messages.contactmessage}">Message</label>
          <textarea class="form-control" id="message" name="message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3" th:text="${langPage.messages.contactsend}"></button>
      </form>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <div class="col-12 text-center mx-auto">
        <h3 th:text="${langPage.messages.contactourLocation}"></h3>
        <p th:text="${langPage.messages.contactourLocationText}"></p>
        <p th:text="${langPage.messages.contactourHours}"></p>
      </div>
      <div class="col-12 text-center mx-auto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6039.886104121559!2d-80.31678262040653!3d25.8254131828607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ba31c97bf29b%3A0xed86d3578c0c788a!2s1820%20NW%2056th%20St%2C%20Miami%2C%20FL%2033166%2C%20EE.%20UU.!5e0!3m2!1ses!2ses!4v1672839271757!5m2!1ses!2ses"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
<footer th:insert="~{fragments/general.html :: footer}"></footer>
</body>
</html>