.login-button {
  display: inline-block;
  border: none;
  background: #1875FF;
  color: white;
  font-family: inherit;
  text-align: center;
  -webkit-box-shadow: 0 14px 56px -11px #1875FF;
  box-shadow: 0 14px 56px -11px #1875FF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;

  span.freedom {
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:after {
      content: 'now :)';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      -webkit-transition: 0.7s;
      transition: 0.7s;
    }
  }

  &:hover span.freedom {
    padding-right: 3.55em;
  }

  &:hover span.freedom:after {
    opacity: 4;
    right: 0;
  }

}

// Back to top button
.back-to-top {
  width: 140px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: #fff;
  background: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding-bottom: 2em;
}

.back-to-top > div, button > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back-to-top:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  background: currentColor;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.back-to-top:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

.back-to-top .clone > *, button .text > * {
  opacity: 1;
  font-size: 1.3rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-left: 4px;
}

.back-to-top .clone > * {
  -webkit-transform: translateY(60px);
  -ms-transform: translateY(60px);
  transform: translateY(60px);
}

.back-to-top:hover .clone > * {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.back-to-top:hover .text > * {
  opacity: 1;
  -webkit-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-60px);
  -webkit-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.back-to-top:hover .clone > :nth-child(1) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.back-to-top:hover .clone > :nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.back-to-top:hover .clone > :nth-child(3) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.back-to-top:hover .clone > :nth-child(4) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* icon style and hover */
.back-to-top svg {
  width: 20px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-50deg);
  -ms-transform: translateY(-50%) rotate(-50deg);
  transform: translateY(-50%) rotate(-50deg);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.back-to-top:hover svg {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

.btn-google {
  color: #fff;
  background-color: #ea4335;
  border-color: #fff
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff
}

.btn-format {
  font-size: .8rem;
  padding: 0.75rem 1rem;
  border-radius: 10rem;
}

.domainSearchButton {
  height: 55px;
}