footer {
  height: 275px;
  margin-top:auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  footer {
    height: 100%;
  }
}