.header-spc {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    position: absolute;
}

.bi {
    vertical-align: -0.125em;
    pointer-events: none;
    fill: currentColor;
}