.header-spc {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    position: absolute;
}

.bi {
    vertical-align: -0.125em;
    pointer-events: none;
    fill: currentColor;
}

header {
    backdrop-filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
    -webkit-backdrop-filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.nav-hover {
    transition: all 0.3s ease-in-out;
}

.nav-hover:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.main-logo {
    width: 75px;
    transition: all 0.3s ease-in-out;
    filter: saturate(2.5);
}

.main-logo:hover {
    transition: all 0.3s ease-in-out;
    animation: spin360 2s ease-in-out;
}

@keyframes spin360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    header {
        top: 0;
        position: sticky;
        z-index: 100;
        background: rgba(222, 237, 255, 0.75);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        * {
            z-index: 100;
        }
    }
}