.title-1 {
  font-size: 5.375rem;
  font-weight: 900;
}

.site-center {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}

.domain-name {
  font-weight: 800;
  font-size: 3rem;
}

.hidden {
  visibility: hidden;
  display: none;
}

#domainSearch {
  max-width: 1440px;
  max-height: 55px;
  font-size: 2rem;
  text-align: center;
}

.scroll-container {
  overflow: hidden;
}

.scroll-left {
  border-radius: 5px;
  overflow: hidden;
  transform: translateX(100%);
  animation: scroll-left 35s linear infinite;
  -webkit-box-reflect: below -1px linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.4));
}

.digital-solutions {
  clip-path: polygon(99.84% 447px, 0.34% 103.84%, 309px -28px, 83.87% -6.48%);
}

@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 1919px) {
  .digital-solutions {
    clip-path: none;
  }
}

// Media query for mobile devices
@media only screen and (max-width: 768px) {
  .scroll-container {
    display: none;
  }

  .title-1 {
    font-size: 3.375rem;
    font-weight: 900;
  }

  .second-row {
    flex-direction: column-reverse;
  }

  .digital-solutions {
    clip-path: none;
  }

  .search-text::placeholder {
    font-size: 1.5rem;
  }
}