.title-1 {
  font-size: 5.375rem;
  font-weight: 900;
}

.site-center {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}


#domainSearch {
  max-width: 1440px;
  max-height: 55px;
  font-size: 2rem;
  text-align: center;
}
